#wlc {
    font-size: 147px;
    font-family: "Algerian";
    margin-left: 448px;
    margin-top: 189px;
    text-shadow: 11px 6px 5px rgba(2,255,62,1.00);
}
#btnStart {
    font-size: 34px;
    width: 239px;
    height: 65px;
    margin-left: 648px;
    text-align: center;
    text-indent: 0px;
    border-radius: 16px;
    background-color: rgba(26,252,0,1.00);
    margin-top: -30px;
}
#body {
    font-size: medium;
}
.body {
    background-image: url(../Pictures/let.jpg);

}
#wlc:hover{
    font-size: 180px;
    font-family: "Algerian";
    margin-left: 407px;
    margin-top: 189px;
    text-shadow: 11px 6px 5px rgba(255,214,1,1.00);
    color: rgba(148,0,2,1.00);
    letter-spacing: 7px;
}
