<html>
<head>
	<title>Remove Cashier</title>
	<link rel="stylesheet" type="text/css" href="../static/CSS/Removecashier.css">
<script>
		function home(){
			window.open("/Home", "_self");
		}
</script>
	<body>
		<div class="box">
			<h1>Remove Cashier</h1>

			<form><br>
			 <p>search by:
			  <select>

			  	<option></option>
			  	<option>Cashier Name</option>
			  	<option>Cashier ID</option></p>
			  	<input type="button" value="search">
			  	</select><br><br>
			    <input type="text"></p>


			    <table>
			<tr>
				<th>Cashier ID</th>
				<th>Cashier Name</th>
				<th>Phone</th>
				<th>Adress</th>

			</tr>

			</tr>
			<tr>
			<td>001</td>
			<td>Seerat</td>
			<td>0787969661</td>
			<td>Kabul</td>
			
		</tr>		
		<tr>
			<td>002</td>
			<td>Millad</td>
			<td>0785378515</td>
			<td>Kabul</td>
		</tr>
		<tr>
			<td>002</td>
			<td>Millad</td>
			<td>0785378515</td>
			<td>Kabul</td>
		</tr>
	
		
		</table> 
		</form>
		<form>
			<button class="button">Delete</button>
			<button class="button1">Refresh</button>
			<button class="button2" type="button" onclick="home()" >cancel</button>

			
		
	</body>
</head>
</html>